<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <p>Welcome go Gianfranco's Blog!</p>
    <%= yield %>
  </body>
</html>